In [10]:
import pandas as pd
import numpy as np
#表一中记录的是name和体重信息
df1 = pd.DataFrame(data = {'name':['softpo','Daniel','Brandon','Ella'],'weight':[70,55,75,65]})
#表一中记录的是name和身高信息
df2 = pd.DataFrame(data = {'name':['softpo','Daniel','Brandon','Cindy'],'high':[172,170,170,166]})

df3 = pd.DataFrame(data = {'名字':['softpo','Daniel','Brandon','Cindy'],'weight':[172,170,170,166]})
print(df1)
print(df2)
print(df3)

      name  weight
0   softpo      70
1   Daniel      55
2  Brandon      75
3     Ella      65
      name  hight
0   softpo    172
1   Daniel    170
2  Brandon    170
3    Cindy    166
        名字  weight
0   softpo     172
1   Daniel     170
2  Brandon     170
3    Cindy     166

In [11]:
df4 = pd.merge(df1,df2)
df4

      name  weight  hight
0   softpo      70    172
1   Daniel      55    170
2  Brandon      75    170