In [29]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width', True)
data = [[45, 65, 100], [56, 45, 50], [67, 67, 76]]
index = ['张三', '李四', '王五']
columns = ['数学', '语文', '英语']
df = pd.DataFrame(data=data, index=index, columns=columns)
df

      数学  语文  英语
张三    45    65   100
李四    56    45    50
王五    67    67    76

In [39]:
df.iloc[:,2]

张三    100
李四     50
王五     76
Name: 英语, dtype: int64

In [38]:
df.iloc[:,2].values

array([100,  50,  76], dtype=int64)